html {
  display: block;
}

body {
  display: block;
  margin: 8px;
}

body.focus-visible {
  outline: none;
}

main {
  display: block;
}

#email {
  background-color: SeaShell;
  margin: 50px auto;
  padding: 50px;
  width: 500px;
  border: 2px solid black;
  box-shadow: 5px 3px 3px gray;
  box-sizing: border-box;
}

#confidential {
  font-weight: bold;
  border: 5px solid red;
  color: red;
  transform: rotate(-20deg);
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-left: 65px;
  display: inline-block;
}

p {
  display: block;
}

.blurred {
  filter: blur(3px);
}

#top-secret {
  font-weight: bold;
  border: 5px solid red;
  color: red;
  transform: rotate(15deg);
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin-left: 200px;
}
