html {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
  margin: 8px;
  display: block;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  display: block;
  text-align: center;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

form {
  display: block;
  margin-top: 0em;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  display: inline-block;
  background-color: field;
  margin: 0em 0em 0em 0em;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

input:focus,
textarea:focus {
  border-color: green;
  outline: none;
}

input:invalid,
select:invalid,
textarea:invalid {
  border-color: red;
}

input:valid,
select:valid,
textarea:valid {
  border-color: green;
}

input[type="email" i] {
  padding-block: 1px;
  padding-inline: 2px;
}

fieldset {
  min-inline-size: min-content;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: none;
  padding-block: 0.35em, 0.625em;
  padding-inline: 0.75em;
}

fieldset label {
  font-weight: normal;
}

legend {
  display: block;
  padding-inline: 2px;
  margin: 20px;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.radio-group input[type="radio"]:checked {
  border-color: green;
  background-color: green;
  box-shadow: inset 0 0 0 4px white;
}

.radio-group input[type="radio"] {
  margin-right: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  transition: border-color 0.2s;
}

input[type="radio"]:checked + label {
  color: green;
}

.radio-group label {
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}

button {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding-block: 1px;
  padding-inline: 6px;
}

button:hover {
  background-color: black;
}
